
@{
    ViewBag.Title = "Index";
}

<header class="page-header">
    <h2>Giriş</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Giriş</span></li>
        </ol>
    </div>
</header>