@using System.Activities.Statements
@using System.Data.Entity.Infrastructure.Interception

@{
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}
<h2>Kategoriler <span class="category-btn" id="CategoryButton"><i class="tr-icon ion-android-menu"></i></span></h2>
<div class="list-group" id="CategoryGroup">
    @foreach (var item in ViewBag.Data)
    {
        if (selectedCategory != null)
        {
            if (item.Id == Convert.ToInt32(selectedCategory.ToString()))
            {

                <a class="list-group-item actives" href="/Category/Index/@item.Id">@item.Name</a>

            }
            else
            {
                <a class="list-group-item" href="/Category/Index/@item.Id">@item.Name</a>
            }

        }
        else
        {
            <a class="list-group-item  text-warning" href="/Category/Index/@item.Id">@item.Name</a>
        }

    }



</div>