
<div class="col-inner spacer text-left">
    <h2 class="mt-0 font-20px xs-font-17px default-color" style="font-size:25px !important;">Kalitesi Standartı</h2>
    <div class="mt-30 intro">
       @ViewBag.Message
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Vizyonumuz</h3>
            <p>Temeli doğaya ve insana saygı olan, ÇATI – CEPHE Kaplama sektöründe teknoloji ve yeniliklerden üst düzeyde faydalanıp, müşteri memnuniyetini de ön planda tutarak tüm dünyaya örnek bir şirket olmak.</p>
        </div>
        <div class="col-md-6">
            <h3>Misyonumuz</h3>
            <p>
                Müşteri memnuniyetini dikkate almak
                Pazar payını sürekli arttırmak
                Doğru ürün ve hizmet sunmak
                Zamana yenilmemek için sürekli kendini yenilemek
                Sektörde kazandığımız lider kimliğimizi korumak
            </p>
        </div>
    </div>
</div>
