
<div class="col-inner spacer text-left">
    <h2 class="mt-0 font-20px xs-font-17px default-color" style="font-size:25px !important;">Hakkımızda</h2>
    <div class="mt-30 intro">
        <p>
            Sektörün lideri olan ve bu liderliğini koruyarak daha da ileriye taşımak için çok çalışan ALPER ÇELİK A.Ş. , sektördeki 14. Yılını kutlamanın haklı gururunu yaşamaktadır.
            Geride bıraktığımız bu 14 yıl içerisinde,
        </p>

        ­☼  3 değişik lokasyonda faaliyet gösteren 3 Fabrikamız ile müşterilerimizin tüm ihtiyaçlarını karşılıyoruz.
        ­☼  Yeni Genel Merkezimiz, Dilovası İMES OSB’de faaliyete geçti.
        ­☼  GEBZE’deki Yeni Profil fabrika inşaatımız için Dilovası Makine İhtisas Org. San. Bölgesinde ruhsat alındı      ve inşaat çalışmalarına başlandı. Çok yakında Yeni Profil Fabrikamız faaliyetlerine başlayacaktır.
        ­☼  Toplam 56 ayrı makine ve araç ile Çatı ve Cephe kaplama sektöründe üretime ağırlık verildi.
        ­☼  Sayısız Çatı ve Cephe kaplama işlerine imza atıldı.
        ­☼  Sadece yurtiçinde değil, yurtdışında da önemli projelerde bulunuldu.
        ­☼  Sektörde lider ve aranan bir firma olmayı başardık.
        ­☼  Devamlı yükselen satış grafiğimiz ile 2011 – 2012 – 2013 -2014 yıllarından sonra 2015 yılında da üst üste      5. Kez ASSAN PANEL Bayileri içinde BİRİNCİ olduk.

        Son Dönemde ise;

        ­☼  Yeni alınan profil makinası ile birlikte, sahip olduğumuz HAYES Profil Makina sayısı 3’e yükseldi. Bu      Profil makinalarının yanı sıra, alınan yeni FRAMECAD Hafif Çelik Bina Profil makinaları ile de tüm hafif      çelik profil ihtiyaçlarının üretimi yapılacaktır. Yaptığımız bu yeni yatırımlarımızla Hafif Çelik Profil      sektöründe de Lider olmayı hedefliyoruz.
        ­☼  Sahip olduğumuz 14 ayrı trapez formunun yanında, 53/1000 ALPER DECK Beton Altı Deck Trapez      üretimimiz de başladı.
        ­☼  Önemli projelerde sıklıkla kullanılan yeni kaplama sistemlerinden, Kilit Geçme Sistem Çatı kaplama      makinasını alındı. Ayrıca bu sistemin İç Bükey ve Dış Bükey bükümlerinin yapabilmesi için, Türkiye’de      sadece Alper Çelik A.Ş.’de bulunan Kilit Geçme Tonoz makinası müşterilerimizin hizmetine sunulmuştur.

        Bundan sonrası için hedefimiz, şu an bulunduğumuz konumu koruyarak, yeni yatırım ve yeni açılımlarla şirket kimliğimizi daha da ileri taşımaktır.
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Vizyonumuz</h3>
            <p>Temeli doğaya ve insana saygı olan, ÇATI – CEPHE Kaplama sektöründe teknoloji ve yeniliklerden üst düzeyde faydalanıp, müşteri memnuniyetini de ön planda tutarak tüm dünyaya örnek bir şirket olmak.</p>
        </div>
        <div class="col-md-6">
            <h3>Misyonumuz</h3>
            <p>
                Müşteri memnuniyetini dikkate almak
                Pazar payını sürekli arttırmak
                Doğru ürün ve hizmet sunmak
                Zamana yenilmemek için sürekli kendini yenilemek
                Sektörde kazandığımız lider kimliğimizi korumak
            </p>
        </div>
    </div>
</div>
