@{
    ViewBag.Title = "Contact";
}
<div class="col-md-12 col-sm-6 col-xs-12 xs-mb-50">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="section-title contact-information-main">
                <h2>Ofis</h2>
                <div class="contact-information-main-text">
                    <span>Adres : </span>
                    <span>
                        Körfez Mah. Ankara Karayolu Cad.
                        Totoya Kaya Plaza No:24/1
                        İzmit / KOCAELİ
                    </span>
                </div>
                <div class="contact-information-main-text">
                    <span>Tel :</span>
                    <span>+90 262 373 63 57</span>
                </div>
                <div class="contact-information-main-text">
                    <span>Mail : </span>
                    <span><a href="mailto:info@alpercelik.com.tr">info@alpercelik.com.tr</a></span>
                </div>
                <div class="contact-information-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.699061639426!2d29.54338641565809!3d40.83457333804418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb24527f626a5b%3A0xbd0f2c8046cec1f2!2zQUxQRVIgw4dFTMSwSw!5e0!3m2!1str!2str!4v1577533783606!5m2!1str!2str" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="section-title contact-information-main">
                <h2>Fabrika Stelta</h2>
                <div class="contact-information-main-text">
                    <span>Adres : </span>
                    <span>
                        Dilovası Makina Ihtisas Osb 27. Sok.<br> No:4 Dilovası / KOCAELİ
                        İzmit / KOCAELİ
                    </span>
                </div>
                <div class="contact-information-main-text">
                    <span>Tel :</span>
                    <span>+90 262 373 63 59</span>
                </div>
                <div class="contact-information-main-text">
                    <span>Mail : </span>
                    <span><a href="mailto:info@alpercelik.com.tr">info@alpercelik.com.tr</a></span>
                </div>
                <div class="contact-information-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.699061639426!2d29.54338641565809!3d40.83457333804418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb24527f626a5b%3A0xbd0f2c8046cec1f2!2zQUxQRVIgw4dFTMSwSw!5e0!3m2!1str!2str!4v1577533783606!5m2!1str!2str" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="section-title contact-information-main">
                <h2>Fabrika Sakarya</h2>
                <div class="contact-information-main-text">
                    <span>Adres : </span>
                    <span>
                        Uluyol Caddesi Nilüfer Sokak
                        No:6
                        Erenler/ SAKARYA
                    </span>
                </div>
                <div class="contact-information-main-text">
                    <span>Tel :</span>
                    <span>+90 264 275 17 88</span>
                </div>
                <div class="contact-information-main-text">
                    <span>Fax :</span>
                    <span>+90 264 275 17 90</span>
                </div>
                <div class="contact-information-main-text">
                    <span>Mail : </span>
                    <span><a href="mailto:info@alpercelik.com.tr">info@alpercelik.com.tr</a></span>
                </div>
                <div class="contact-information-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.699061639426!2d29.54338641565809!3d40.83457333804418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb24527f626a5b%3A0xbd0f2c8046cec1f2!2zQUxQRVIgw4dFTMSwSw!5e0!3m2!1str!2str!4v1577533783606!5m2!1str!2str" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="section-title contact-information-main">
                <h2>Fabrika Çerkezköy</h2>
                <div class="contact-information-main-text">
                    <span>Adres : </span>
                    <span>
                        Karaağaç Mevkii Atatürk Mah. 45. Sk. No:21
                        Çerkezköy / TEKİRDAĞ
                    </span>
                </div>
                <div class="contact-information-main-text">
                    <span>Tel :</span>
                    <span>+90 282 747 72 74</span>
                </div>
                <div class="contact-information-main-text">
                    <span>Fax :</span>
                    <span>+90 282 747 72 48</span>
                </div>
                <div class="contact-information-main-text">
                    <span>Mail : </span>
                    <span><a href="mailto:info@alpercelik.com.tr">info@alpercelik.com.tr</a></span>
                </div>
                <div class="contact-information-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.699061639426!2d29.54338641565809!3d40.83457333804418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb24527f626a5b%3A0xbd0f2c8046cec1f2!2zQUxQRVIgw4dFTMSwSw!5e0!3m2!1str!2str!4v1577533783606!5m2!1str!2str" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>