@using BHOurProject.Models.Entity
@using System.Globalization;
@{
    ViewBag.Title = "Home Page";
    List<Reference> list = Reference.GetReference().Where(x => x.IsBanner == true).ToList();


}

<!--== Hero Slider Start ==-->
<div class="remove-padding transition-none" id="home">
    <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:#000000;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
        <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
            <ul>
                <!-- SLIDE  -->
                @foreach (var item in list)
                {
                <li data-index="rs-3045" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="@item.Image" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="hero-text-wrap">
                        <div class="tp-caption NotGeneric-Title tp-resizeme" id="slide-3045-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-90','-50']" data-fontsize="['20','20','20','16']" data-lineheight="['30','30','30','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="font-family: 'Raleway', sans-serif;font-weight:300;text-transform:uppercase;letter-spacing:5px;">Alper Kaplama Sistemleri</div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-Title tp-resizeme" id="slide-3045-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']" data-fontsize="['56','56','56','30']" data-lineheight="['66','66','66','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="font-family: 'Raleway', sans-serif;font-weight:400;text-transform:uppercase;letter-spacing:10px;">KALİTESİ STANDARTI</div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption NotGeneric-SubTitle tp-resizeme" id="@item.Id" data-x="['center','center','center','center']" data-hoffset="['0','0','0','50']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','120']" data-width="none" data-height="none" data-whitespace="['normal','nowrap','nowrap','nowrap']" data-type="button" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"><a class="btn btn-lg btn-light-outline btn-square"href="/Reference/ReferenceList/@item.CustomerName">Referansları Gör</a></div>

                    </div>
                </li>
                        }


                  
                    <!-- SLIDE  -->
                    @*<li data-index="rs-3046" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Content/assets/images/contact-bg.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina="">

                        <!-- BACKGROUND VIDEO LAYER -->
                        <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="assets/videos/explore.mp4" data-videopreload="auto" data-videoloop="loop" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false"></div>

                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="hero-text-wrap">
                            <div class="tp-caption NotGeneric-Title tp-resizeme" id="slide-3045-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-90','-50']" data-fontsize="['20','20','20','16']" data-lineheight="['30','30','30','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="font-family: 'Raleway', sans-serif;font-weight:300;text-transform:uppercase;letter-spacing:5px;">Alper Kaplama Sistemleri</div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption NotGeneric-Title tp-resizeme" id="slide-3045-layer-6" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']" data-fontsize="['56','56','56','30']" data-lineheight="['66','66','66','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="font-family: 'Raleway', sans-serif;font-weight:400;text-transform:uppercase;letter-spacing:10px;">Sektörde Öncü Firma</div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption NotGeneric-SubTitle tp-resizeme" id="slide-3045-layer-8" data-x="['center','center','center','center']" data-hoffset="['0','0','0','50']" data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','120']" data-width="none" data-height="none" data-whitespace="['normal','nowrap','nowrap','nowrap']" data-type="button" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"><a class="btn btn-lg btn-light-outline btn-square">Tesislerimiz</a></div>

                        </div>
                    </li>*@
                    <!-- SLIDE  -->

                </ul>
            <div class="tp-bannertimer" style="height: 3px; background-color: rgba(255, 255, 255, 0.25);"></div>
        </div>
    </div>
</div>
<!--== Hero Slider End ==-->
<!--== Services Start ==-->
<section class="white-bg pb-0" id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-8 centerize-col text-center">
                <div class="section-title">
                    <h1 class="raleway-font">Değerlerimiz</h1>
                    <hr class="center_line default-bg">
                </div>
            </div>
        </div>

        <div class="row mt-50 mb-50">
            <div class="col-md-4 feature-box text-left mb-50 col-sm-6 wow fadeInRight" data-wow-delay="0.1s">
                <div class="pull-left"><i class="icon-lock font-40px"></i></div>
                <div class="pull-right">
                    <h4 class="mt-0 font-600 raleway-font">Güvenilirlik</h4>
                    <p class="font-400">Güven, Alper Çelik olarak en önemli değerimizdir. Tüm grup şirketlerimizde güven odaklı hareket ederek ticari ilişkilerimizi sürdürmekteyiz. Güven odaklı ilişkilerimiz bizi biz yapan temel taşlarımızdandır.</p>
                </div>
            </div>
            <div class="col-md-4 feature-box text-left mb-50 col-sm-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="pull-left"><i class="icon-trophy font-40px"></i></div>
                <div class="pull-right">
                    <h4 class="mt-0 font-600 raleway-font">Kalite</h4>
                    <p class="font-400">Günümüz pazar şartlarında alternatifi olmayan “Kalite” tüm şirketlerimizin üretimdeki ana prensibidir. Rekabette her zaman ayırt ediciliği benimseyen Alper Çelik yüksek kaliteli ürün ve hizmetlerle sektördeki farkını yansıtmaktadır.</p>
                </div>
            </div>
            <div class="col-md-4 feature-box text-left mb-50 col-sm-6 wow fadeInRight" data-wow-delay="0.3s">
                <div class="pull-left"><i class="icon-recycle font-40px"></i></div>
                <div class="pull-right">
                    <h4 class="mt-0 font-600 raleway-font">Çevrecilik</h4>
                    <p class="font-400">Alper Çelik çevrecidir, doğayi kirletmez, enerji tüketimini minimalize eder, geri dönüşümü etkin kullanır, gelecek nesilleri ve dünyanın geleceğini önemser.</p>
                </div>
            </div>
            <div class="col-md-4 feature-box text-left mb-50 col-sm-6 wow fadeInRight" data-wow-delay="0.1s">
                <div class="pull-left"><i class="icon-lightbulb font-40px"></i></div>
                <div class="pull-right">
                    <h4 class="mt-0 font-600 raleway-font">Dinamiklik</h4>
                    <p class="font-400">Günümüzde değeri daha da artan “Zaman kavramı” tüm şirketlerin en önemli konusu haline gelmiştir. Alper Çelik dinamizmini her geçen gün artırarak işbirliği içinde olduğu şirketlere hızlı çözümler üreterek zaman kazandırmayı hedeflemektedir.</p>
                </div>
            </div>
            <div class="col-md-4 feature-box text-left mb-50 col-sm-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="pull-left"><i class="icon-happy font-40px"></i></div>
                <div class="pull-right">
                    <h4 class="mt-0 font-600 raleway-font">Müşteri Odaklıklık</h4>
                    <p class="font-400">Alper Çelik tüm süreçlerini müşterilerinin taleplerine göre şekillendirir. Şirketlerimiz %100 müşteri memnuniyeti parolasıyla çalışmalarını sürdürmektedir.</p>
                </div>
            </div>
            <div class="col-md-4 feature-box text-left mb-50 col-sm-6 wow fadeInRight" data-wow-delay="0.3s">
                <div class="pull-left"><i class="icon-genius font-40px"></i></div>
                <div class="pull-right">
                    <h4 class="mt-0 font-600 raleway-font">Yenilikçilik</h4>
                    <p class="font-400">Sektöründe Türkiye lideri olmayı hedefleyen Alper Çelik olarak dünyadaki gelişmeleri ve mega trendleri sürekli yakından takip ederiz. Yenilik odaklı Ar-Ge merkezi çalışmalarımızla geleceğe adapte oluruz. Bilinmeyeni bulmak en önemli motivasyonumuzdur.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Services End ==-->