@using BHOurProject.Models.Entity
@model List<Certificate>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="white-bg" style="padding-top:80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 xs-mb-50">
                <div class="row">
                    <h2 style="text-align:center;">SERTİFİKALAR</h2>
                    <!--== Post End ==-->
                </div>
                <div class="col-md-12">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-3 col-sm-4 col-xs-6" style="min-height:370px;">
                                <a rel="example_group" class="webTemplates objects" title="Custom title" href="@item.Image">
                                    <img src="@item.Image" alt="sq-sample26" />
                                </a>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        $(window).load(function () {
            $("a[rel=example_group]").fancybox();
        });
    </script>

}