
@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/Content/Admin/assets/vendor/dropzone/css/basic.css" />
    <link rel="stylesheet" href="~/Content/Admin/assets/vendor/dropzone/css/dropzone.css" />
    <link rel="stylesheet" href="~/Content/Admin/assets/vendor/summernote/summernote.css" />
    <link rel="stylesheet" href="~/Content/Admin/assets/vendor/summernote/summernote-bs3.css" />
    <link rel="stylesheet" href="~/Content/Admin/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
}

<div ng-controller="ProductController">
    <header class="page-header">
        <h2>Ürünler</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Ana Sayfa</span></li>
                <li><span>Ürünler</span></li>
            </ol>
        </div>
    </header>
    <!-- start: page -->
    <section class="panel" ng-show="!EnableEdit">
        <header class="panel-heading">
            <div class="panel-actions">
                <a class="buttons btn btn-success" ng-click="showAddProducts()">Ekle <i class="fa fa-plus"></i></a>
            </div>

            <h2 class="panel-title">Ürünler</h2>
        </header>
        <div class="panel-body" ng-show="!showAddProduct">
            <table class="table table-no-more table-bordered table-striped mb-none">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th class="hidden-xs hidden-sm">Alt İsim</th>
                        <th class="text-right">Resim</th>
                        <th class="text-right hidden-xs hidden-sm">Aktif/Pasif</th>
                        <th class="text-center">İşlemler</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in productList">
                        <td ng-model="selected.Name" data-title="Code">{{product.Name}}</td>
                        <td ng-model="selected.SubName" data-title="Company" class="hidden-xs hidden-sm">{{product.SubName}}</td>
                        <td ng-model="selected.Image" data-title="Price" class="text-right"><img src="{{product.Image}}" style="width:90px;" /></td>
                        <td ng-model="selected.IsActive" data-title="Low" class="text-right hidden-xs hidden-sm">{{product.IsActive}}</td>
                        <td data-title="Volume" class="text-center">
                            <a href="#" class="mb-xs mt-xs mr-xs btn btn-warning btn-sm" ng-click="editProduct(product)">Güncelle</a>
                            <a href="#" class="mb-xs mt-xs mr-xs btn btn-danger btn-sm" ng-click="deleteProduct(product.Id)">Sil</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="panel" id="ProductAdd" ng-show="showAddProduct">
        <header class="panel-heading">
            <h2 class="panel-title">Ürün Ekle</h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Ürün Kategori</h5>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <select data-plugin-selectTwo class="form-control populate">
                            <optgroup label="Alaskan/Hawaiian Time Zone">
                                <option value="AK">Alaska</option>
                                <option value="HI">Hawaii</option>
                            </optgroup>

                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Ürün Görseli</h5>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <form action="/upload" class="dropzone dz-square" id="dropzone-example"></form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom:5px;">
                    <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Ürün Açıklaması</h5>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <div class="summernote" data-plugin-summernote data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'>Start typing...</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right" style="margin-top:10px;">
                    <a href="#" class="mb-xs mt-xs mr-xs btn btn-danger">Temizle</a>
                    <a href="#" class="mb-xs mt-xs mr-xs btn btn-success">Ürün Ekle</a>
                </div>
            </div>
        </div>
    </section>
    <section ng-show="EnableEdit" class="panel" id="ProductUpdate">
        <header class="panel-heading">
            <h2 class="panel-title">Ürün Güncelle</h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Ürün Kategori</h5>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <select ng-model="selected.subCategory" data-plugin-selectTwo  data-ng-options="a.SubName group by a.Name for a in subCategory" class="form-control populate">
                        </select>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-12 control-label">Ürün Görseli</label>
                    <div class="col-md-12">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input">
                                    <i class="fa fa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileupload-exists">Değiştir</span>
                                    <span class="fileupload-new">Dosya Yükle</span>
                                    <input type="file" base-sixty-four-input onchange="angular.element(this).scope().setFile(this)" />
                                </span>
                                <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Sil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 control-label">Pdf</label>
                    <div class="col-md-12">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input">
                                    <i class="fa fa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileupload-exists">Değiştir</span>
                                    <span class="fileupload-new">Dosya Yükle</span>
                                    <input type="file" base-sixty-four-input onchange="angular.element(this).scope().setFilePdf(this)" />
                                </span>
                                <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Sil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-12" style="margin-bottom:5px;">
                    <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Ürün Açıklaması</h5>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <div class="summernote" ng-model="selected.Descrition" data-plugin-summernote data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'>Start typing...</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom:5px;">
                    <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Ürün Açıklaması 2</h5>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <div class="summernote" ng-model="selected.Descrition2" data-plugin-summernote data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'>Start typing...</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom:5px;">
                    <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Uygulama Alanları</h5>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <input id="aplicationArea"class="summernote" ng-model="selected.AplicationAreas" data-plugin-summernote data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom:5px;">
                    <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Üretim Yeri</h5>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <input type="text" class="input-group" ng-model="selected.ManufacturingPlace" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right" style="margin-top:10px;">
                    <a href="#" class="mb-xs mt-xs mr-xs btn btn-danger" ng-click="showCancel()">Geri</a>
                    <a href="#" class="mb-xs mt-xs mr-xs btn btn-success" ng-click="updateProduct(selected)">Güncelle</a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end: page -->
@section Scripts {
    <script src="~/Content/Admin/assets/vendor/dropzone/dropzone.js"></script>
    <script src="~/Content/Admin/assets/vendor/summernote/summernote.js"></script>
    <script type="text/javascript">
        $('.summernote').summernote({
            height: 200,
            codemirror: {
                theme: 'monokai'
            }
        });
    </script>
    <script src="~/Scripts/Admin/product.js"></script>
    <script src="~/Content/Admin/assets/javascripts/pages/examples.mediagallery.js"></script>
    <script src="~/Content/Admin/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
}
