
@{
    ViewBag.Title = "Index";
}
<!--== Hakkımızda ==-->
<section class="white-bg xs-pb-100 mt-70" id="about" style="padding:0;">
    <div class="col-md-5 col-sm-5 bg-flex bg-flex-left">
        <div class="bg-flex-holder bg-flex-cover" style="background-image: url(../../Content/assets/images/banner-about.jpg);max-height:745px;">
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-7 col-sm-7 col-md-offset-5 col-sm-offset-5">
            @Html.Action("About", "Home")
        </div>
    </div>
</section>
<!--== Hakkımızda ==-->
