<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Firma Adı</th>
                <th scope="col">Firma Yetkilisi</th>
                <th scope="col">Telefon</th>
                <th scope="col">Faks</th>
                <th scope="col">Mail Adresi</th>
                <th scope="col">İlgilenen Ürün</th>
                <th scope="col">Şehir</th>
                <th scope="col">Yaklaşık İhtiyaç Miktarı</th>
                <th scope="col">Açıklama</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{CompanyName}</td>
                <td>{CompanyRepresentative}</td>
                <td>{PhoneNumber}</td>
                <td>{TaxNumber}</td>
                <td>{MailAddress}</td>
                <td>{ProductOfInterest}</td>
                <td>{City}</td>
                <td>{Quantity}</td>
                <td>{Explanation}</td>
            </tr>
            
        </tbody>
    </table>
</body>
</html>