
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section ng-app="myApp" ng-controller="CarrierController" class="white-bg" style="padding-top:80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 xs-mb-50">
                <div class="forms-main">
                    <div class="row">
                        <h2 style="text-align:center;">İŞ BAŞVURU FORMU</h2>
                        <!--== Post End ==-->
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Ad Soyad</label>
                            <input ng-model="selectedValue.Name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ad Soyad">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Cep Telefonu</label>
                            <input ng-model="selectedValue.Phone" type="number" class="form-control" id="exampleFormControlInput1" placeholder="Cep Telefonu">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Mail Adresi</label>
                            <input ng-model="selectedValue.Email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Mail Adresi">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-left:0;">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Cinsiyet</label>
                                <select ng-model="selectedValue.Radio" class="form-control" id="exampleFormControlSelect1">
                                    <option>Kadın</option>
                                    <option>Erkek</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-right:0;">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Askerlik Durumu</label>
                                <select ng-model="selectedValue.SoliderStatus" class="form-control" id="exampleFormControlSelect1">
                                    <option>Yaptı</option>
                                    <option>Yapmadı</option>
                                    <option>Tecilli</option>
                                    <option>Muaf</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Adres</label>
                            <textarea ng-model="selectedValue.Address" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <a class="btn btn-primary pull-right" ng-click="sendMailAndSaveCarrierForm()">Gönder</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section scripts {

    <script src="~/Scripts/page/carierForms.js"></script>
}